@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Poppins:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* background-color: aqua; */
}
#jumbo{
    background: url(images/bannner.png) no-repeat;
    background-size: cover;
    /* margin-top: 120px; */
    height: 450px;
}
.hr-devide {
    width: 100%;
    display: inline-block;
    clear: both;
}
.jumbos{
    background: url(images/Transformation.jpg) no-repeat;
    background-size: cover;
    height: 330px;
}
#jumbos{
    height: 200px;
}
img{
    border-radius: 20px;
}
.navTab-style {
    border-bottom: black 2px solid;
    background-color: #fcfcfc;
    position: sticky;
    top: 100px;
    width: 100% !important;
    z-index: 1000;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* inner content of nav tab */
.nav-link-head-style {
    font-weight: 400;
    margin-bottom: 30px;
}

.nav-link-style {
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: 600;
    color: #46474a;
}


































